<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dnr_signup</servlet-name>
        <servlet-class>dnr_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rec_signup</servlet-name>
        <servlet-class>rec_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_signup</servlet-name>
        <servlet-class>org_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dnr_login</servlet-name>
        <servlet-class>dnr_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rec_login</servlet-name>
        <servlet-class>rec_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_login</servlet-name>
        <servlet-class>org_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dnr_logout</servlet-name>
        <servlet-class>dnr_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rec_logout</servlet-name>
        <servlet-class>rec_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_logout</servlet-name>
        <servlet-class>org_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dnr_forgot</servlet-name>
        <servlet-class>dnr_forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rec_forgot</servlet-name>
        <servlet-class>rec_forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_forgot</servlet-name>
        <servlet-class>org_forgot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a_dnr_delete</servlet-name>
        <servlet-class>a_dnr_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>a_rec_delete</servlet-name>
        <servlet-class>a_rec_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dnr_otp</servlet-name>
        <servlet-class>dnr_otp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resendOtp</servlet-name>
        <servlet-class>resendOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_signup</servlet-name>
        <servlet-class>admin_signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_reset</servlet-name>
        <servlet-class>admin_reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_logout</servlet-name>
        <servlet-class>admin_logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_city</servlet-name>
        <servlet-class>add_city</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_city</servlet-name>
        <servlet-class>remove_city</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update_stock</servlet-name>
        <servlet-class>update_stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rec_pending</servlet-name>
        <servlet-class>rec_pending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_delete</servlet-name>
        <servlet-class>org_delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rec_otp</servlet-name>
        <servlet-class>rec_otp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rec_resendOtp</servlet-name>
        <servlet-class>rec_resendOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_otp</servlet-name>
        <servlet-class>org_otp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_resendOtp</servlet-name>
        <servlet-class>org_resendOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_update_stock</servlet-name>
        <servlet-class>org_update_stock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>camp_insert</servlet-name>
        <servlet-class>camp_insert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>select_camp</servlet-name>
        <servlet-class>select_camp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deselect_camp</servlet-name>
        <servlet-class>deselect_camp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rec_edit</servlet-name>
        <servlet-class>rec_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>request</servlet-name>
        <servlet-class>request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_rec_pending</servlet-name>
        <servlet-class>org_rec_pending</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>without_reg</servlet-name>
        <servlet-class>without_reg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_edit</servlet-name>
        <servlet-class>org_edit</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>org_rec_pending2</servlet-name>
        <servlet-class>org_rec_pending2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dnr_signup</servlet-name>
        <url-pattern>/dnr_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rec_signup</servlet-name>
        <url-pattern>/rec_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_signup</servlet-name>
        <url-pattern>/org_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dnr_login</servlet-name>
        <url-pattern>/dnr_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rec_login</servlet-name>
        <url-pattern>/rec_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_login</servlet-name>
        <url-pattern>/org_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dnr_logout</servlet-name>
        <url-pattern>/dnr_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rec_logout</servlet-name>
        <url-pattern>/rec_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_logout</servlet-name>
        <url-pattern>/org_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dnr_forgot</servlet-name>
        <url-pattern>/dnr_forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rec_forgot</servlet-name>
        <url-pattern>/rec_forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_forgot</servlet-name>
        <url-pattern>/org_forgot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a_dnr_delete</servlet-name>
        <url-pattern>/a_dnr_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>a_rec_delete</servlet-name>
        <url-pattern>/a_rec_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dnr_otp</servlet-name>
        <url-pattern>/dnr_otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resendOtp</servlet-name>
        <url-pattern>/resendOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_signup</servlet-name>
        <url-pattern>/admin_signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_reset</servlet-name>
        <url-pattern>/admin_reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_logout</servlet-name>
        <url-pattern>/admin_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_city</servlet-name>
        <url-pattern>/add_city</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_city</servlet-name>
        <url-pattern>/remove_city</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update_stock</servlet-name>
        <url-pattern>/update_stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rec_pending</servlet-name>
        <url-pattern>/rec_pending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_delete</servlet-name>
        <url-pattern>/org_delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rec_otp</servlet-name>
        <url-pattern>/rec_otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rec_resendOtp</servlet-name>
        <url-pattern>/rec_resendOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_otp</servlet-name>
        <url-pattern>/org_otp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_resendOtp</servlet-name>
        <url-pattern>/org_resendOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_update_stock</servlet-name>
        <url-pattern>/org_update_stock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>camp_insert</servlet-name>
        <url-pattern>/camp_insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>select_camp</servlet-name>
        <url-pattern>/select_camp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deselect_camp</servlet-name>
        <url-pattern>/deselect_camp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rec_edit</servlet-name>
        <url-pattern>/rec_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_rec_pending</servlet-name>
        <url-pattern>/org_rec_pending</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>without_reg</servlet-name>
        <url-pattern>/without_reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_edit</servlet-name>
        <url-pattern>/org_edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>org_rec_pending2</servlet-name>
        <url-pattern>/org_rec_pending2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
